mixin button(text, className, svgName, href)
	if href
		a.button(href=href, class=className)&attributes(attributes)
			if text
				span= text
			if svgName
				svg
					use(xlink:href=`./images/sprite.svg#${svgName}`)
	else
		button.button(class=className)&attributes(attributes)
			if text
				span= text
			if svgName
				svg
					use(xlink:href=`./images/sprite.svg#${svgName}`)
